<h1>Users</h1>

<ul>
  <% @users.all.each do |user| %>
    <li>
      <%= user.first_name %>
      <%= user.last_name %>
      <%= user.email %>
      # user social security is not rendered here on purpose
    </li>
  <% end %>
</ul>

    